<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <noscript>
    <strong>Please enable scripts to continue.</strong>
  </noscript>

  <div id="app"></div>
  <script><%= htmlWebpackPlugin.options.inline %></script>
  <!-- built files will be auto injected -->
</body>

</html>
